main {
  padding: var(--app-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--app-padding);
}

/* tablet */
@media (min-width: 500px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* desktop */
@media (min-width: 1000px) {
  main {
    padding: var(--app-padding-desktop-device);
    padding-top: 0;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--app-padding-desktop-device);
  }
}
