header {
  background: var(--header-background-image);
  color: var(--golden-color);
  font-family: 'Acme', serif;
  padding: var(--app-padding);
  display: flex;
  flex-direction: column;
  gap: var(--app-padding);
}

header p {
  font-size: clamp(1rem, 1.6vw, 1.5rem);
}

/* tablet */
@media (min-width: 500px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* desktop */
@media (min-width: 1000px) {
  header {
    padding: var(--app-padding-desktop-device);
    padding-bottom: 0;
    gap: var(--app-padding-desktop-device);
  }
}
