header {
  background-image: var(--header-background-image);
  color: darkgoldenrod;
  font-family: 'Acme', serif;
  padding: var(--app-padding);
  display: flex;
  flex-direction: column;
  gap: 3.4vw;
}

header p {
  font-size: clamp(1rem, 1.8vw, 1.8rem);
}

/* tablet */
@media (min-width: 500px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}
