#header-left-section {
  display: flex;
  flex-direction: column;
  gap: 3.4vw;
}

#header-left-section h1 {
  font-size: clamp(2rem, 5vw, 50px);
}

/* desktop */
@media (min-width: 1000px) {
  #header-left-section {
    gap: var(--app-padding-desktop-device);
  }
}
