#header-left-section {
  display: flex;
  flex-direction: column;
  gap: 3.4vw;
}

#header-left-section h1 {
  font-size: clamp(2rem, 5vw, 50px);
}

#header-left-section p {
  font-size: clamp(1rem, 2vw, 2rem);
}
