:root {
  --app-background-color: #3e6623;
  --header-background-image: linear-gradient(#000, #3e6623);
}

#root {
  background-color: var(--app-background-color);
  display: flex;
  flex-direction: column;
  gap: 3.4vw;
}
