:root {
  --app-background-color: #3e6623;
  --card-background-color: #8ab661;
  --white-color: #fff;
  --header-background-image: linear-gradient(#000, #3e6623);
  --app-padding: 3.4vw;
}

#root {
  background-color: var(--app-background-color);
  display: flex;
  flex-direction: column;
  gap: 3.4vw;
}
